.side-nav ul li {
  margin-bottom: 20px;
}

.side-nav ul li a {
  display: block;
  min-width: 60px;
  max-width: 160px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  transition: .3s;
}

.side-nav ul li a:hover {
  background-color: var(--main-color);
}

.js [data-menu="content"] {
  display: none;
  margin-bottom: 30px;
}

[data-menu="content"].active {
  display: block;
  animation: animationAnimals .5s forwards;
}

@keyframes animationAnimals {
  from {
    opacity: 0;
    transform: translate3d(-40px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0 , 0);
  }
}

@keyframes animationArrow {
  from {
    transform: translateX(-20px);
  }
  to {
    transform: translateX(0);
  }
}

@media (max-width: 1200px) {
  aside {
    grid-row: 3;
    grid-column: 2;
  }
}

@media (max-width: 700px) {
  .side-nav {
    grid-column: 1/-1;
    overflow-x: auto;
  }
  .side-nav::before {
    content: "⭢";
    display: block;
    width: 100%;
    text-align: end;
    font-size: 1.875rem;
    animation: animationArrow .5s ease-in infinite;
    opacity: 0.3;
  }
  .side-nav ul{
    display: flex;
    gap: 20px;
  }
  .side-nav ul li {
    flex: 1;
  }
  .side-nav ul li a {
    padding: 10px;
  }
  aside {
    grid-column: 1/-1;
    margin-bottom: 30px;
    padding: 20px;
  }
}